[submodule "vim/bundle/nerdtree"]
	path = vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "vim/bundle/vim-markdown"]
	path = vim/bundle/vim-markdown
	url = https://github.com/plasticboy/vim-markdown.git
[submodule "vim/bundle/thor"]
	path = vim/bundle/thor
	url = https://github.com/jc00ke/thor.vim
