[submodule "vim/pack/ppgengler/start/vim-polyglot"]
	path = vim/pack/ppgengler/start/vim-polyglot
	url = https://github.com/sheerun/vim-polyglot.git
[submodule "vim/pack/ppgengler/start/vim-fugitive"]
	path = vim/pack/ppgengler/start/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "vim/pack/ppgengler/start/vim-gitgutter"]
	path = vim/pack/ppgengler/start/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter.git
[submodule "vim/pack/ppgengler/start/vim-colors-solarized"]
	path = vim/pack/ppgengler/start/vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule "vim/pack/ppgengler/start/vim-better-whitespace"]
	path = vim/pack/ppgengler/start/vim-better-whitespace
	url = https://github.com/ntpeters/vim-better-whitespace.git
[submodule "vim/pack/ppgengler/start/vim-go"]
	path = vim/pack/ppgengler/start/vim-go
	url = https://github.com/fatih/vim-go.git
[submodule "vim/pack/ppgengler/start/tabular"]
	path = vim/pack/ppgengler/start/tabular
	url = https://github.com/godlygeek/tabular.git
[submodule "vim/pack/ppgengler/start/vim-ginkgo"]
	path = vim/pack/ppgengler/start/vim-ginkgo
	url = https://github.com/ivy/vim-ginkgo.git
[submodule "vim/pack/ppgengler/start/syntastic"]
	path = vim/pack/ppgengler/start/syntastic
	url = https://github.com/vim-syntastic/syntastic.git
[submodule "vim/pack/ppgengler/start/black"]
	path = vim/pack/ppgengler/start/black
	url = https://github.com/psf/black.git
[submodule "vim/pack/ppgengler/start/vim-github-support"]
	path = vim/pack/ppgengler/start/vim-github-support
	url = git@github.com:rhysd/vim-github-support.git
[submodule "vim/pack/ppgengler/start/vim-rails"]
	path = vim/pack/ppgengler/start/vim-rails
	url = https://github.com/tpope/vim-rails.git
